html
  head
    title hello
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css')
  body
    h1 pizza is tasty #{uid}
    div#root
    script(src='static/bundles/config.bundle.js')